<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy English</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Navigaton -->
    <nav>
        <img src="images/The_best_logo.png" alt="">
        <div class="navigation">
            <ul>
                <i id="menu-close" class="fas fa-times"></i>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a class="active" href="blogs.html">Blogs</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="Hard reg/registration.html">Registration</a></li>
            </ul>
            <img id="menu-btn" src="images/menu.png" alt="">
        </div>
    </nav>


    <!-- Home -->

    <section id="blogs-home">
        <h2>Blogs</h2>
    </section>

    <!-- Blogs -->

    <section id="blogs-container">
        <div class="blogs">
            <div class="post">
                <img src="images/grammar.jpg" alt="">
                <h3>Learn Grammar In The Easiest Way</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatibus esse optio quisquam impedit a nisi, consectetur 
                facilis placeat iusto quam corrupti assumenda praesentium quod,
                sunt animi aliquam eum dolorum voluptas!</p>
                <a href="post.html">Read More</a>
            </div>

            <div class="post">
                <img src="images/vocabulary.jpg" alt="">
                <h3>Easy Vocabulary</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatibus esse optio quisquam impedit a nisi, consectetur 
                facilis placeat iusto quam corrupti assumenda praesentium quod,
                sunt animi aliquam eum dolorum voluptas!</p>
                <a href="#">Read More</a>
            </div>

            <div class="post">
                <img src="images/listening.jpg" alt="">
                <h3>Enhance Your Listening In The Easiest Way</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatibus esse optio quisquam impedit a nisi, consectetur 
                facilis placeat iusto quam corrupti assumenda praesentium quod,
                sunt animi aliquam eum dolorum voluptas!</p>
                <a href="#">Read More</a>
            </div>

            <div class="post">
                <img src="images/writting.jpg" alt="">
                <h3>Enhance Your Writing In The Easiest Way</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatibus esse optio quisquam impedit a nisi, consectetur 
                facilis placeat iusto quam corrupti assumenda praesentium quod,
                sunt animi aliquam eum dolorum voluptas!</p>
                <a href="#">Read More</a>
            </div>

            <div class="post">
                <img src="images/test.jpg" alt="">
                <h3>Test Your English</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatibus esse optio quisquam impedit a nisi, consectetur 
                facilis placeat iusto quam corrupti assumenda praesentium quod,
                sunt animi aliquam eum dolorum voluptas!</p>
                <a href="test/eng-test.html">Test Now</a>
            </div>

            
        </div>

        <div class="cate">
            <h2>Categories</h2>
            <hr>
            <a href="#">Grammar</a>
            <hr>
            <a href="#">Vocabulary</a>
            <hr>
            <a href="#">Listening</a>
            <hr>
            <a href="#">Writing</a>
            <hr>
            <a href="#">Reading</a>
            <hr>
            <a href="#">Talking</a>
            <hr>
        </div>
    </section>

    
    <!-- Footer -->

    <footer>

        <div class="footer-col">
            <h3>Top Products</h3>
            <li>Manage Reputation</li>
            <li>Power Tools</li>
            <li>Managed Website</li>
            <li>Marketing Service</li>
        </div>

        <div class="footer-col">
            <h3>Quick Links</h3>
            <li>Jobs</li>
            <li>Brand Assets</li>
            <li>Investor Relations</li>
            <li>Teams of Service</li>
        </div>

        <div class="footer-col">
            <h3>Features</h3>
            <li>Manage Reputation</li>
            <li>Power Tools</li>
            <li>Managed Website</li>
            <li>Marketing Service</li>
        </div>

        <div class="Resources">
            <h3>Resources</h3>
            <li>Guides</li>
            <li>Research</li>
            <li>Experts</li>
            <li>Marketing Service</li>
        </div>

        <div class="footer-col">
            <h3>Newsletter</h3>
            <p>You can trust us, we only send promo offers</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email addres">
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
        </div>


        <div class="copyright">
            <p>Copyright 2023 All rights reserved | This tamplate is made by Adilet</p>
            <div class="pro-links">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-telegram"></i>
            </div>
        </div>

    </footer>

    <script>
        $('#menu-btn').click(function () {
            $('nav .navigation ul').addClass('active')
        });
        $('#menu-close').click(function () {
            $('nav .navigation ul').removeClass('active')
        });
    </script>

</body>

</html>