<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy English</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>


<body>
<br>
<h1 align="center">Регистрация</h1>
<br>

                        <form method="POST">
                            {% csrf_token %}
                            <div> Имя:
                                {{ form.first_name }}
                            </div>
                        <br>
                            <div> Фамилия:
                                {{ form.last_name }}
                            </div>
                        <br>
                            <div> Номер телефона:
                                {{ form.phone }}
                            </div>
                        <br>
                            <div> Электронная почта:
                                {{ form.email }}
                            </div>
                        <br>
                            <div> Курс:
                                {{ form.course }}
                            </div>
                        <br>
                          <button  type="submit" class="btn btn-primary">Отправить</button>
                        </form>

</body>
